<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>NeoAssist :: Uni.co</title>
    
 
    <link rel="stylesheet" href="/neoAssist/lib/css/artemis.element.css">
    {{!-- <link rel="shortcut icon" href="https://s3.amazonaws.com/enlizt-resources-prod/companies/2af598d0-3c32-11e8-a9fb-51a027588a03_256_avatar?nocache=1547497307458"> --}}
		<link href="/neoAssist/lib/themify-icons/themify-icons.css" rel="stylesheet" media="screen">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    {{!-- <script id="initData" type="application/json">{{{initData}}}</script> --}}

  </head>
  <body> 
		
		<div id="app"></div>
    <script type="text/javascript" src="/neoAssist/socket.io.js"></script>
    <script type="text/javascript" src="/neoAssist/build.js"></script>	
    
  </body>
</html>